*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 24px;

  --font-family: "Pirata One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --color-primary: #ffffff;
  --color-accent: #f24f13;
  --color-heading: #f27f1b;
  --color-background: #361e5c;
  --color-disabled: #333333;
}

/* Load the PirataOne-Regular.ttf font */
@font-face {
  font-family: "Pirata One";
  src: url("/fonts/PirataOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-primary);
  font-size: 24px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}

input,
button {
  font-size: 1rem;
  border: 1px solid #000;
  border-radius: 0;
  padding: 0.75rem;
  font-family: var(--font-family);
}

button:active {
  background-color: var(--color-accent);
}

/* Main */

body.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  #result {
    font-size: 2rem;
    text-align: center;
  }
  #history-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  #pressesList {
    width: max-content;
    max-height: 80vh;
    overflow-y: auto;
    background-color: var(--color-background);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .pressItem {
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }
  .timestamp {
    font-family: monospace;
  }
}

/* Admin */

body.page-admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  #loginForm {
    width: 300px;
    text-align: center;
  }
  #adminPanel {
    width: 500px;
    text-align: center;
  }
  #adminPanel {
    display: none;
  }
  #usersList,
  #resetSection {
    margin-top: 20px;
    width: 100%;
  }
  .userItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .userItem > span {
    padding: 3px 10px 3px 0;
  }
  .pending-name-change {
    color: orange;
  }
  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .tab {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #f9f9f9;
    width: 100%;
  }
  .active-tab {
    background-color: #fff;
    font-weight: bold;
  }
  .active-content {
    display: block;
  }
  .teamDescription {
    margin-left: 10px;
    color: #999;
  }
}

/* User */

body.page-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  touch-action: none;
  user-select: none;

  h1 {
    text-align: center;
  }

  #registrationForm,
  #buzzerContainer {
    display: none;
    text-align: center;
    margin-bottom: 50px;
  }
  #teamNameContainer {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  #teamDescriptionContainer {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #999;
    display: none;
  }
  #changeRegistration {
    cursor: pointer;
  }
  #team-name-input {
    font-size: 1rem;
    padding: 3px;
  }
  #register-button {
    font-size: 1rem;
    padding: 3px 10px;
  }
  #buzzer-button {
    background-color: var(--color-accent);
    border-radius: 100%;
    border: none;
    color: var(--color-background);
    cursor: pointer;
    font-size: 5rem;
    font-weight: 800;
    height: 85vw;
    touch-action: none;
    transition: transform 0.1s;
    user-select: none;
    width: 85vw;
  }
  #buzzer-button:active:not(:disabled) {
    transform: scale(0.95);
  }
  #buzzer-button:disabled {
    pointer-events: none;
    background-color: var(--color-disabled);
    cursor: not-allowed;
    transition: none;
  }
  @media (orientation: landscape) {
    body {
      flex-direction: row;
    }
    #teamNameContainer {
      padding-right: 20px;
    }
    #buzzer-button {
      width: 40vw;
      height: 40vw;
    }
  }
}
